/* Contract.html*/

/*Section 1*/

.sec1-smartContracts{
  background-color: $bg-grey1;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

/*Section 2*/
.sec2-whatAreSmartcontracts{
  background-color: $bg-grey2;
}

/*Section 3*/

.sec3-type{ 
  background-color: $bg-grey1;
  h2{ 
    text-align: center;
  }
}