

/*Footer*/

.footer{        
        background-image: url(../src/fondos/marble-stone-texture.jpg);
        a{      
        
        .width-logo-footer{  width: 10%;
                        margin-left: 3%;  }
        .outbox-logo {filter: brightness(1.1);mix-blend-mode: multiply;margin-left: 20px;
        &:hover{transform: scale(1.5);transition: all 1s;}}
        }
       .socialMedia{
                display: flex;
                justify-content: flex-end;      
                .media{ @include tamanos (70%);
                        display: flex;
                        justify-content: space-between;
                        li{
                        list-style: none;
                        }} 
        }
        .margin-footer{
                margin-left: 2%;     
        }
        .privacyTerms{
                text-align: end;   
        }

}