/* Productos.html*/

/*Section 1*/
.section-productos1{
    background-color: $bg-grey1;
}

/*Section 2*/
.section-productos2{
  background-color: $bg-grey2;
  text-align: end;
      .article-productos2{  
        text-align: justify;
        
      }
}

/*Section 3*/
.section-productos3{
  background-color: $bg-grey1;
}

/*Section 4*/

.section-productos4{
  background-color: $bg-grey2;
  text-align: end;
      .article-productos4{  
        text-align: justify;
    
      }
    }